{% extends "main/base.html" %}


{% block content %}

{% if user.is_authenticated %}

<!-- Display Todos -->
<div class="grid-container">
    <main>
        <table>
            {% for catlist in categories %}
            <tr>
                {% for cat in catlist %}
                <td>
                    <div class="card-panel blue-grey lighten-2 z-depth-2 white-text">
                        <h5 class="center">{{cat}}</h5>
                    </div>
                    <ul class="collapsible borderless">
                        {% for todo in todos %}
                        {% if todo.category == cat %}

                        <li class="">
                            <div class="collapsible-header blue-grey lighten-5">
                                <h5 class><i class="fas fa-pen align-left"></i> {{todo.label}}</h5>
                            </div>
                            <div class="collapsible-body blue-grey lighten-5 black-text">
                                {{todo.details}}
                            </div>
                        </li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </main>


    <!-- Add Todo -->
    <section class="tools">
        <a class="waves-effect waves-teal blue-grey btn modal-trigger tooltipped" data-position="bottom"
            data-tooltip="Add a new Todo" href="#modal1"><i class="fas fa-plus"></i></a>
    </section>
    <!-- Todo Form -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Create a Todo</h4>
            <form method="post">
                {% csrf_token %}
                {{todoform.as_p }}
                <button type="submit" class="btn">Create</button>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
{% else %}

<!-- Prompt to Login it or Register! -->
<div class="row">
    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
        <a href="/login">
            <div class="card blue-grey lighten-2">
                <div class="card-content white-text">
                    <h3 class="center">Welcome to Dooly!</h3>
                    <p>
                        Dooly is a todo app designed to help you get stuff done!
                        To start using it login or register an account.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

{% endif %}
{% endblock %}