{% extends "main/base.html" %}


{% block content %}

    <div class="row ">

        <div class="col s3">
            <div class="card z-depth-4">
                <div class="card-title light-blue accent-4 darken-1 z-depth-2 center-align valign-wrapper white-text">
                    <div class="container">Card Title</div>
                </div>
                <div class="card-content black-text grey lighten-4 valign-wrapper">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <div class "col s3">
            <ul class="collapsible transparent z-depth-0">
                <li>
                    <div class="collapsible-header">First</div>
                    <div class="collapsible-body">Test</div>
                </li>
            </ul>
        </div>
        <div class "col s3">
            <ul class="collapsible transparent z-depth-0">
                <li>
                    <div class="collapsible-header">First</div>
                    <div class="collapsible-body">Test</div>
                </li>
            </ul>
        </div>
        
    </div>



{% endblock %}