{% extends "main/base.html" %}


{% block content %}

    {% if user.is_authenticated %}

    {% else %}

    {% endif %}

    <table>
        <tbody>
            <tr>
                <td>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">First</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Second</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">First</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Second</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header">Third</div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>   
    </table>
{% endblock %}